<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " | xray.computer" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer data-domain="xray.computer" src="https://plausible.cursed.technology/js/plausible.js"></script>
  </head>
  <body class="bg-gray-100 flex flex-col">
    <header>
      <%= link to: Routes.select_source_path(@conn, :index), class: "no-underline" do %>
        <h1 class="text-center mt-6 mb-3 text-xl font-bold">xray.computer</h1>
      <% end %>
      <nav role="navigation" class="flex w-full items-center justify-center mb-10 space-x-4 hidden">
        <%# <%= link "Diff", to: Routes.diff_path(@conn, :index), class: active_class(@conn, Routes.diff_path(@conn, :index)) %> %>
        <%= link "Source", to: "/source", class: active_class(@conn, Routes.select_source_path(@conn, :index)) %>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="flex-shrink-0 bg-blue-100 p-4 flex justify-center mt-10">
      <div class="text-gray-700">
        🕯️ By <a href="https://www.btao.org/">Tao Bojlén</a>.
        Source code on <a href="https://gitlab.com/tao_oat/xray">GitLab</a>.
      </div>
    </footer>
  </body>
</html>
