<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " | xray.computer" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💻</text></svg>">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
    <script defer data-domain="xray.computer" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://kit.fontawesome.com/4a3648756c.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-100 flex flex-col">
    <div class="flex-grow">
      <%= @inner_content %>
    </div>

    <footer class="flex-shrink-0 bg-blue-100 p-4 flex justify-center mt-10">
      <div class="text-gray-700">
        🕯️ By <a href="https://www.btao.org/">Tao Bojlén</a>.
        Source code on <a href="https://gitlab.com/tao_oat/xray">GitLab</a>.
      </div>
    </footer>
  </body>
</html>
