/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/nprogress/nprogress.css";
@import "./coldark.css";

html,
body {
  height: 100%;
}

* {
  @apply focus-visible:ring focus-visible:ring-indigo-500 focus-visible:rounded;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

iframe[src="/phoenix/live_reload/frame"] {
  display: none;
}

a {
  @apply underline;
}

.suggestion-button {
  @apply bg-gray-300 text-gray-800 rounded text-sm float-left m-1 p-1 cursor-pointer hover:bg-gray-400 hover:text-gray-900 text-left truncate;
  max-width: 18rem;
}

.link-button {
  @apply text-gray-800 p-1 no-underline;
}
.link-button:hover,
.link-button.active {
  @apply underline;
  text-decoration-thickness: 0.2rem;
}
.link-button.active {
  @apply font-bold;
}

.button {
  @apply inline-flex justify-center w-56 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 no-underline;
}

.select {
  @apply block pl-2 pr-10 py-2 rounded shadow border-gray-300 bg-white appearance-none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.code-container {
  @apply rounded w-full overflow-x-auto mx-auto;
}

.code-block {
  @apply text-sm p-0 overflow-x-auto rounded;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 70rem;
}

.loading-spinner {
  @apply border-solid animate-spin rounded-full border-blue-400 border-2 h-8 w-8;
  border-top-color: transparent;
}

.progress-bar-wrapper {
  background: rgba(92, 112, 128, 0.2);
  border-radius: 40px;
  display: block;
  height: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress-bar {
  animation: linear-progress-bar-stripes 0.3s linear infinite reverse;
  background: linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0.2) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.2) 0,
    hsla(0, 0%, 100%, 0.2) 75%,
    transparent 0
  );
  background-color: theme("colors.blue.500");
  background-size: 30px 30px;
  border-radius: 40px;
  height: 100%;
  position: absolute;
  -webkit-transition: width 0.2s cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: width 0.2s cubic-bezier(0.4, 1, 0.75, 0.9);
  width: 100%;
}

@keyframes linear-progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.prism-line {
  @apply pointer-events-none;
  scroll-margin-top: 7rem;
}
.prism-line::before {
  @apply w-6 inline-block mr-4 cursor-pointer text-right;
  pointer-events: all;
  color: #8da1b9;
  content: attr(data-line-number);
}
.prism-line:target,
.prism-line.selected-line,
.diff-line.selected-line {
  @apply bg-blue-900 !important;
}

.diff-line {
  @apply text-sm font-mono whitespace-nowrap;
}
.diff-line.line-header {
  @apply text-gray-400 select-none;
}
.diff-line > .line-number {
  @apply px-2 select-none min-w-max cursor-pointer;
}
.diff-line > .line-type {
  @apply pl-1 pr-2 select-none text-gray-300;
}

.diff-line.line-add {
  @apply bg-green-800 bg-opacity-50;
}
.diff-line.line-remove {
  @apply bg-red-800 bg-opacity-50;
}
.diff-line.line-add > .line-number {
  @apply bg-opacity-10;
}
.diff-line.line-remove > .line-number {
  @apply bg-opacity-10;
}
