{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "json",
          "typescript",
          "css",
          "markup",
          "markdown",
          "elm"
        ],
        "plugins": [],
        "css": true
      }
    ]
  ]
}